{erl_opts, [debug_info]}.
{deps, []}.

{profiles, [
    {default, []},

    {test, [
        {erl_opts, [nowarn_export_all]},

        {artifacts, ["priv/test/lz4_nif.so"]},
        {pre_hooks, [
            {"(linux|darwin|solaris)", compile, "make PROFILE=test -C c_src"},
            {"(freebsd)", compile, "gmake PROFILE=test -C c_src"}
        ]},

        {post_hooks, [
            {"(linux|darwin|solaris)", clean, "make PROFILE=test -C c_src clean"},
            {"(freebsd)", clean, "gmake PROFILE=test -C c_src clean"}
        ]},

        {shell, [{config, "config/test.config"}]},

        %% create junit xml for circleci
        {ct_opts, [{sys_config, ["config/test.config"]}, {ct_hooks, [cth_surefire]}]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.

{artifacts, ["priv/default/lz4_nif.so"]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.

% Start lz4 application on rebar3 shell
{shell, [{apps, [lz4]}]}.

{project_plugins, [erlfmt, rebar3_ex_doc]}.

% Let erlfmt write files on format as opposed to not doing anything
{erlfmt, [write]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE.md", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/Benjamin-Philip/lz4-erlang"},
    {source_url, "https://github.com/Benjamin-Philip/lz4-erlang"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
